body{font-family:Verdana; font-size:11px;}
input[type=number]{width: 3em;}

progress{
	-webkit-appearance: none;
	background-color: #ccc;
	border: none;
}

progress::-webkit-progress-bar-value,
progress::-moz-progress-bar{
	background-color: black;
}

.setup{
	margin-bottom: 1em;
}

.pg-container{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	-webkit-direction: row;
	-moz-flex-direction: row;
	margin: 1em;
}
.pg-config{
	-webkit-box-flex: 15;
	-moz-box-flex: 15;
	-webkit-flex:15;
	-ms-flex:15;
	flex:15;
	margin-right: 1em;
}
.pg-progress{
	-webkit-box-flex: 15;
	-moz-box-flex: 15;
	-webkit-flex:15;
	-ms-flex:15;
	flex:15;
}
.pg-plan{
	flex:55;
	-webkit-box-flex: 55;
	-moz-box-flex: 55;
	-webkit-flex: 55;
	-ms-flex: 55;
	flex:55;
	padding: 3px;
	min-height: 500px;
	margin-right: 1em;
}
.clear{
	text-align: right;
	margin-top: 1em;
}
.display{
	padding: 4em;
	line-height: 4em;
}
.stage{
	font-size: 2em;
}
.btn-start{
	font-size: 70px;
	width: 340px;
	height: 165px;
}

.icon-remove-circle{
	margin-left: 10px;
}
.setting-btn{
	padding-right: 5px;
	margin-right: 5px;
}
.time{
	font-size: 5em;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}
.warmup, .cooldown{ background-color: #CDCDCD;}
.display{font-size: 2em; text-align:center;}
.high{background-color: red;}
.low{background-color: green;}
