body{font-family:Verdana; font-size:11px;}
input[type=number]{width: 3em;}

progress{
	-webkit-appearance: none;
	background-color: #ccc;
	border: none;
}

progress::-webkit-progress-bar-value,
progress::-moz-progress-bar{
	background-color: black;
}

.setup{
	margin-bottom: 1em;
}

.pg-container{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	-webkit-direction: row;
	-moz-flex-direction: row;
	margin-top: 50px;
}
.pg-config{
	-webkit-box-flex: 15;
	-moz-box-flex: 15;
	-webkit-flex:15;
	-ms-flex:15;
	flex:15;
	margin-right: 1em;
	text-align: right;
}
.pg-config label{
	float: left;
	padding-top: 0.9em;
	font-size: 1.1em;
}
.pg-config input{
	font-size: 2em;
	width: 4em;
}
.pg-progress{
	-webkit-box-flex: 15;
	-moz-box-flex: 15;
	-webkit-flex:15;
	-ms-flex:15;
	flex:15;
}
.pg-progress .progress{
	margin-bottom: 8px;
}
.pg-progress .progress[aria-valuenow=0] .progress-bar{
	color: #888;
}
.pg-plan{
	flex:55;
	-webkit-box-flex: 55;
	-moz-box-flex: 55;
	-webkit-flex: 55;
	-ms-flex: 55;
	flex:55;
	padding: 3px;
	min-height: 500px;
	margin-right: 1em;
}
.clear{
	text-align: right;
	margin-top: 1em;
}
.display{
	padding: 4em;
	line-height: 4em;
}
.stage{
	font-size: 2em;
}
.btn-start{
	font-size: 70px;
	width: 340px;
	height: 165px;
}

.icon-remove-circle{
	margin-left: 10px;
}
.btn-setting{
	padding-right: 5px;
	margin-right: 5px;
}
.btn-restart{
	font-size: 33px;
	height: 56px;
}
.control{
	margin: 10px;
}
.time{
	font-size: 5em;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
	text-shadow:
	    1px 1px 0 #FFF,
	   -1px -1px 0 #FFF,
	    1px -1px 0 #FFF,
	   -1px  1px 0 #FFF,
	    1px  1px 0 #FFF;
}
.warmup, .cooldown{ background-color: #DDDDDD;}
.display{font-size: 2em; text-align:center;}
.high{background-color: #FF4136;}
.low{background-color: #2ECC40;}
