<!doctype html>
<html lang="en" ng-app="hiit">
<head>
	<meta charset="UTF-8">
	<title>HIIT Timer</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/angular.js"></script>
	<script src="js/localStorageModule.js"></script>
	<script src="js/app.js"></script>
</head>
<body ng-controller="App">

	<div class="navbar navbar-inverse navbar-static-top">
		<div class="navbar-inner">
			<a class="brand" href="#">HIIT Timer</a>
			<ul class="nav">
				<li><a href="http://greatist.com/fitness/complete-guide-interval-training-infographic" title="Infographics introducting HIIT" target="_blank">What is HIIT?</a></li>
				<li><a href="https://github.com/jackysee/hiit">Github</a></li>
			</ul>
		</div>
	</div>

	<div class='pg-container'>

		<div class="pg-config">
			<fieldset class="setup">
				<legend>Setup</legend>
				<div>
					Warm up for <input type="number" size="3" min="0" ng-model="setup.warmup" />s<br>
					Repeat <input type="number" size="3" ng-model="setup.repeat" min="0" /> intervals, <br>
					For each interval:<br>
					- do high intensity for <input type="number" size="3" min="0" ng-model="setup.high"/>s<br>
					- do low intensity for <input type="number" size="3" min="0" ng-model="setup.low"/>s<br>
					Cool down for <input type="number" size="3" min="0" ng-model="setup.cooldown"/>s<br>
				</div>
				<button class="btn" ng-click="save()">Save current settings</button>
			</fieldset>
			<fieldset class="settings" ng-show="settings.length">
				<legend class="settings-title">Saved settings</legend>
				<button class="btn btn-small btn-setting"
					ng-repeat="s in settings" ng-click="load($index)">
					{{s.name}} <i class="icon-remove-circle" ng-click="remove($index)"></i>
				</button>

				<div class="clear">
					<button class="btn btn-link btn-clear" ng-click="clearAll()">Clear All</button>
				</div>
			</fieldset>
		</div>

		<div class="pg-plan" ng-show="plan.total>0">

			<audio src="alarm.mp3" id="sound" preload /></audio>

			<div class="display" ng-hide="plan.current">
				<button class="btn btn-start" ng-click="start()" ng-disabled="plan.current">Start</button>
			</div>
			<div class="display {{plan.current.type}}" ng-show="!plan.done && plan.current">
				<div class="stage">{{plan.current.title | uppercase}}</div>
				<div class="time">{{plan.current.value}}/{{plan.current.max}}s</div>
				<div class="control">
					<button class="btn" ng-click="clear()">Clear</button>
				</div>
			</div>
			<div class="display" ng-show="plan.done">
				<div class="time">Done!</div>
				<div class="control">
					<button class="btn btn-restart" ng-click="start()">Restart</button>
				</div>
			</div>
		</div>

		<div class="pg-progress">
			<fieldset ng-show="plan.progress.length">
				<legend>Progress</legend>
				<div class="render">
					<table>
						<tr ng-repeat="p in plan.progress">
							<td nowrap>{{p.title}}</td>
							<td><progress value="{{p.value}}" max="{{p.max}}"></progress></td>
						</tr>
					</table>
					<div>
						Total time: {{plan.count}}/{{plan.total}}s
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</body>
</html>
