<!doctype html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>HIIT</title>
	<link rel="stylesheet" href="style.css">
	<script src="angular.js"></script>
	<script src="app.js"></script>
</head>
<body ng-controller="App">

	<div class='container'>

		<fieldset class="setup">
			<legend>Setup</legend>
			Warmup for <input type="number" size="3" min="0" ng-model="warmup" />s<br>
			Repeat <input type="number" size="3" ng-model="repeat" min="0" /> intervals, for each interval:<br>
			- do high intensity for <input type="number" size="3" min="0" ng-model="high"/><br>
			- do low intensity for <input type="number" size="3" min="0" ng-model="low"/><br>
			Cool down for <input type="number" size="3" min="0" ng-model="cooldown"/>
		</fieldset>
		<fieldset class="progress">
			<legend>Progress</legend>
			<div class="render">
				<div ng-show="warmup">
					Warmup: <progress value="{{progress('warmup')}}" max="{{warmup}}"></progress> [{{progress('warmup')}}/{{warmup}}]<br>
				</div>
				<div ng-repeat="i in getRepeat()">
					High: <progress value="{{progress('high', $index)}}" max="{{high}}"></progress> [{{progress('high',$index)}}/{{high}}] |
					Low: <progress value="{{progress('low', $index)}}" max="{{low}}"></progress> [{{progress('low',$index)}}/{{low}}]
				</div>
				<div ng-show="cooldown">
					Cool down: <progress value="{{progress('cooldown')}}" max="{{cooldown}}"></progress> [{{progress('cooldown')}}/{{cooldown}}]
				</div>
			</div>
			<div ng-show="getTotal()">
				<button ng-click="start()">Start</button>
				<button ng-click="clear()">Clear</button>
			</div>
		</fieldset>
	</div>
	<div class="display {{current.cssClass}}" ng-show="current.stage">
		<div class="stage">{{current.stage}}</div>
		<div class="time">{{current.value}}/{{current.max}}s</div>
	</div>
</body>
</html>