body{font-family:Verdana; font-size:11px;}
input[type=number]{width: 3em;}


/*
.settings ul{
	padding-left: 1.5em;
	list-style-type: circle;
	margin: 1em 0 0 0;
}
.settings li{
	word-wrap: break-word;
}
.settings .remove, .settings .clear{
	float: right;
	text-align: right;
}
*/

.settings{
	margin-bottom: 1em;
}

.pg-container{
	display: flexbox;
	display: -webkit-flex;
	flex-direction: row;
	margin: 1em;
}
.pg-config{
	flex:15;
	-webkit-flex:15;
}
.pg-progress{
	flex:10;
	-webkit-flex: 10;
}
.pg-plan{
	flex:25;
	-webkit-flex: 25;
	padding: 3px;
	min-height: 500px;

	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;

	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: center;
	-moz-box-align: center;

	display: box;
	box-orient: horizontal;
	box-pack: center;
	box-align: center;
}
.display{
	padding: 4em;
	line-height: 2.5em;
}

.icon-remove-circle{
	margin-left: 10px;
}
.setting-btn{
	padding-right: 5px;
}


.control{
	text-align:center;
}
/*
.control button{
	font-size: 200%;
}
.render{
}
*/
.time{font-size: 300%;}
.warmup, .cooldown{ background-color: #CDCDCD;}
.display{font-size: 2em; text-align:center;}
.high{background-color: red;}
.low{background-color: green;}
